.header {
    vertical-align: baseline;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10%;
    background-color: rgba(35, 35, 35, 0.6);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
}

.classySound {
  position: absolute;
  top: 10px;
  left: 5%;
}

.iconokContainer {
  position: absolute;
  top: 10px;
  right: 5%;
}

.iconok {

}

.headerKepContainer {
  margin-top: 2%;
  position: relative;
}

.bgKep1 {
  position: relative;
  z-index: -1;
}

.displayinline {
  display: inline-block;
}

.subscribe {
  position: absolute;
  bottom: 5%;
  left: 25%;
  height: 30px;
  width: 50%;
}

.emailInputBtn {
  width: 30%;
}

.emailInput {
  border-width: 0px;
  border-color: rgba(255,255,255,1);
  background-color: rgba(0,0,0,0.81);
  color: rgb(255,255,255);
  font: normal normal normal 17px/21px avenir-lt-w01_35-light1475496,sans-serif;
  padding-left: 10px;
  width: 65%;
  height: 30px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.musicTxt {
  color: white;
  font-size: 4vw;
  font-family: sans-serif;
}

.kepContainer {
    position: relative;
}

.szovegKozep {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.playBtnDiv {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}

.playBtn {
  height: 8vw;
}
