<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../Classysound/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Classysound/Css/Style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="../Classysound/Content/bootstrap/js/bootstrap.min.js"></script>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="header">

    </div>
</body>
</html>